a {
	text-decoration: none;
	color: white;
}

.container{
	margin-top: 20px;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #263343;
	padding: 8px 20px;
}

.navbar__logo{
	font-size: 24px;
	color: white;
}

.navbar__logo i {
	color: #d49466;
}

.navbar__menu{
	display: flex;
	list-style: none;
	padding-left:0;
	
}

.navbar__menu li{
	padding: 8px 12px;
	
}

.navbar__menu li:hover{
	background-color: #d49466;
	border-radius: 4px;
}

.navbar__toggleBtn{
	display:none;
	position: absolute;
	right:32px;
	font-size:24px;
	color: #d49466;
}

#option{
	display : flex;
	align-items: center;
	justify-content : space-between;
	width : 100%;
}

.form-select{
	width : 28%;
	margin: 5px;
}

.opt{
	display:flex;
}

.space{
	width : 20px;
}

.map_container{
	display : flex;
	margin-top : 50px;
}

.map {
   width: 50%;
   height:400px;
}

@media screen and (max-width: 768px){
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	
	.navbar__menu{
		display:none;
		flex-direction: column;
		align-items: center;
		width:100%;
	}
	
	.navbar__menu li{
		width: 100%;
		text-align: center;
	}
	
	.navbar__toggleBtn{
		display:block;
	}
	
	.navbar__menu.active{
		display:flex;
	}
	
	.opt{
		flex-direction:column;
	}
}